apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-config
data:
  base.cnf: |
    [mysqld]
    character-set-server=utf8mb4
    collation-server=utf8mb4_unicode_ci
    log-bin=mysql-bin
    binlog_format=ROW
    expire_logs_days=7